<div class="container">
    <div class="personal-information">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-control">
            <div class="form-title">Personel Information</div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <sd-text-input iconName="successinfo" [isPrefix]="false" [allowOnlyText]="true" label="Username" formControlName="userName"  placeholder="Enter your username"></sd-text-input>
                </div>
                <div class="col-md-6">
                    <sd-text-input type="password" [allowOnlyText]="true" label="Password"  formControlName="password" placeholder=""></sd-text-input>
                </div>
                <div class="col-lg-12">
                        <sd-text-input
                            label="PAN Card Number"
                            type="text"
                            [allowOnlyText]="true"
                            placeholder="Enter PAN Card Number"
                            formControlName="pancard"
                        ></sd-text-input>
                    </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <sd-text-input iconName="email" [isPrefix]="true" type="email" label="Email" formControlName="email" placeholder="johndoe@example.com"></sd-text-input>
                </div>
                <div class="col-lg-6 col-md-12">
                    <sd-text-input type="number" label="Expected CTC" formControlName="number" placeholder="Enter your lpa"></sd-text-input>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <sd-dropdown label="Experience" [options]="dropdownOptions" formControlName="dropdownOption" placeholder="Select years of experience"></sd-dropdown>
                </div>
                <div class="col-lg-6 col-md-12">
                    <sd-radio label="Gender" [options]="radioOptions" formControlName="radioOption"></sd-radio>
                </div>
            </div>

            <sd-checkbox label="Tech-Stack" [options]="checkBoxOptions" formControlName="checkboxOption"></sd-checkbox>

            <sd-text-area label="Work-Experience" formControlName="workExperience" placeholder="Share your Experience here"></sd-text-area>

        <sd-mobile-number type="text" label="Mobile Number" formControlName="mobileNumber"></sd-mobile-number>


            <div class="row">
                <div class="col-12 text-end">
                    <button [disabled]="!form.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>